<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dragon Ball Seacher</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./script.js"></script>
    <script src="./components/componente.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <p class="search-character">Get Dragon Ball Character</p>
        <p v-if="searchResult === false" class="no-result">Didn't find any character with that name</p>
        <p v-if="searchResult === null" class="waiting-search">Search a DBZ character below</p>
        
        <form v-on:submit.prevent="buscarDragonBallCharacter">
            <input class="input-name-search" type="text" v-model="search">
            <input class="input-search-button" value="Search" type="submit"></input>
        </form>

        <div class="favorite-div">
            <button @click="deleteFavs" class="delete-fav">Delete all favs</button>
        </div>

        <dragon-ball-character v-if="dbChar" :dbChar="dbChar"></dragon-ball-character>
        <button @click="addToFavorite" class="add-fav" v-if="dbChar.name">Add to favorites</button>

        <div class="favorites-div" v-if="favs.size > 0">
            <p class="status-title">Favorites</p>
            <div v-for="favorite in favs.values()" class="favorite-div">
                <article class="character-article">
                    <p class="char-info">Character: {{ favorite.name }}</p>
                    <p class="char-info">Ki: {{ favorite.ki }}</p>
                    <p class="char-info">Gender: {{ favorite.gender }}</p>
                    <p class="char-info">Affiliation: {{ favorite.affiliation }}</p>
                    <p class="char-info">Race: {{ favorite.race }}</p>
                    <img v-bind:src="favorite.image" alt="Character Image">
                </article>
            </div>
        </div>
    </div>
    <script> app.mount('#app'); </script>
</body>
</html>