* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-character {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(85, 78, 78);
    color: rgb(224, 214, 214);
    padding: 15px;
}

.character-article {
    border: 3px solid black;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}

form {
    margin-top: 20px;
}

.input-name-search {
    padding: 10px;
    border-radius: 8px;
    font-size: 1.2em;
    margin-right: 10px;
}

.input-search-button {
    padding: 10px;
    border-radius: 8px;
    font-size: 1.2em;
    border: 3px solid green;
}

.input-search-button:hover {
    background-color: rgb(177, 214, 177);
    cursor: pointer;
}

.favorite-div {
    gap: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

img {
    max-width: 450px;
    max-height: 450px;
}

.char-info {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 5px;
}

.no-result {
    font-size: 1.5em;
    font-weight: bold;
    color: red;
    margin-top: 15px;
}

.waiting-search {
    font-size: 1.5em;
    font-weight: bold;
    color: green;
    font-style: italic;
    margin-top: 15px;
}

button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 1.2em;
    cursor:pointer;
}

.delete-fav {
    border: 3px solid red;
}

.show-fav {
    border: 3px solid rgb(0, 162, 255);
}

.delete-fav:hover {
    background-color: rgb(221, 175, 175);
}

.show-fav:hover {
    background-color: rgb(192, 230, 235);
}

.status-title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgb(85, 78, 78);
    color: rgb(224, 214, 214);
    padding: 10px;
}

.add-fav {
    border: 2px solid orange;
}

.add-fav:hover {
    background-color: rgb(247, 231, 211);
}